<div class ="show_contents">

  <%= render partial: '../views/shared/left-contents', locals: { bird: @bird } %>

  <div class ="right_contents">
    <% if user_signed_in? %> 
      <%= link_to 'チャットを投稿する', "/birds/#{@bird.id}/messages/new", class: 'button post_button'%>
    <% end %>
    <h2>＜チャット一覧＞</h2>
    <%= paginate(@messages) %>
      <% @messages.each do |message| %>
        <div class="message_display">
          <% if user_signed_in? && current_user.id == message.user_id %>
            <ul class="menu">
              <li class="menu_single">
                <span>MENU▶︎</span>
                <ul class="menu_second-level">
                  <li class="menu_edit_button"><%= link_to '編集', "/birds/#{@bird.id}/messages/#{message.id}/edit", method: :get %></li>
                  <li class="menu_delete_button"><%= link_to '削除', "/birds/#{@bird.id}/messages/#{message.id}", method: :delete %></li>
                </ul>
              </li>
            </ul>
          <% else %>
            <p class="message_user_name"><%= message.user.name %> さん</p>
          <% end %>
          <div class="message_text_display"><%= simple_format(message.text) %></div>
          <%= image_tag "#{message.image}", class: 'message_image' if message.image.present? %>
        </div>
      <% end %>
    <%= paginate(@messages) %>
  </div>
</div>
<script>
  $('.menu_delete_button').click(function(){
    if(!confirm('本当に削除しますか？')){
      return false;
    }
  });
</script>