<h2><%= @bird.name %></h2>
 
<%= link_to "メインページへ", "/" %>

<input id="address" type="textbox">
<input type="button" value="入力地点へ" onclick="codeAddress()">

<% if user_signed_in? %> 
  <%= form_with model: Point.new, local: true do |form| %>
    <%= form.hidden_field :latitude, id: :lat %>
    <%= form.hidden_field :longitube, id: :lng %>
    <%= form.hidden_field :bird_id, value: @bird.id %>
    <%= form.submit "マーカーを登録" %>
  <% end %>
<% end %>

<div id='map'></div>
 
<style>
#map{
  height: 500px;
}
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['MAP_API_KEY']%>&callback=initMap" async defer></script>